.home {
  width: calc(100vw - (100vw - 100%));
  height: 82vh;
  display: block;
  position: relative;
  padding: 30px;
}

.home::after {
  content: "";
  background: url("../assets/images/quiz3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.15;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

main .wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

h1 {
  text-align: center;
  margin-bottom: 5em;
  opacity: 1;
  font-size: 2.3em;
  color: #ff6b6b;
}

.start__btn {
  margin: 0 auto;
  padding: 30px 15px;
  width: 260px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  font-size: var(--buttons-large-text);
  font-weight: 700;
  color: #f7fff7;
  background-color: #4ecdc4;
  cursor: pointer;
}

.start__btn:hover {
  background-color: #ffe66d;
}

.start__btn:hover .start__btn-span {
  display: flex;
}

.start__btn:hover .start__btn-start {
  display: none;
}

.start__btn:focus {
  outline: none;
  opacity: 0.65;
}

.start__btn-start {
  padding-top: 5px;
  font-size: var(--buttons-small-text);
}

.start__btn-span {
  padding-top: 5px;
  font-size: var(--buttons-small-text);
}

.hide {
  display: none;
}

/* Desktop */
@media screen and (min-width: 1280px) {
  main::after {
    background-size: auto;
  }
}
