/* Mobile first */

body {
  min-height: 100vh;
  width: 100vw;
}

.themes {
  padding: 0;
  width: calc(100vw - (100vw - 100%));
  height: 82vh;
  background-color: #f7fff7;
}

.wrapper_themes {
  width: 100%;
  height: 100%;
}

.container_themes {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.container__btns {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.container__btns a {
  width: 50%;
  height: 50%;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #000;
  cursor: pointer;
  transition: all 1s;
  opacity: 1;
}

.container__btns a .theme__btn {
  width: 100%;
  height: 100%;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #000;
  cursor: pointer;
  transition: all 1s;
  opacity: 1;
}

.theme__btn:hover {
  font-size: 150%;

  opacity: 0.6;
}

#theme1-btn {
  background-color: #4ecdc4;
}
#theme2-btn {
  background-color: #1a535c;
}
#theme3-btn {
  background-color: #f7fff7;
}

#theme3-btn:hover {
  color: #4ecdc4;
}

#theme4-btn {
  background-color: #ffe66d;
}

.theme__info {
  padding-bottom: 20px;
  font-size: 1.2em;
  color: #fff;
}

.theme03__info {
  padding-bottom: 20px;
  font-size: 1.2em;
  color: #1a535c;
}

.theme1__info {
  padding-top: 20px;
  font-size: 0.8em;
  color: #ffe66d;
}
.theme2__info {
  padding-top: 20px;
  font-size: 0.8em;
  color: #ffe66d;
}
.theme3__info {
  padding-top: 20px;
  font-size: 0.8em;
  color: #1a535c;
}
.theme4__info {
  padding-top: 20px;
  font-size: 0.8em;
  color: #1a535c;
}

.hide {
  display: none;
}

.theme__btn:hover .hide {
  display: flex;
}
